h1{
	background-color: color: #333;;
	text-align: center;
}
p{
	font-family: Cambria, fantasy;
	font-size: 
}
img{ 
display: block;
 margin-left: auto;
 margin-right: auto;
 }
 body{
 	background-color:rgb(249,102,39);
 }